.card-container {
  padding-top: 10px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center; /* จัดกลางแนวนอน */
  align-items: center; /* จัดกลางแนวตั้ง */

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card {
  width: 120px;
  height: 170px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card-inner.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: white; */
}

.card-front {
  background-color: rgb(255, 255, 255);
}
.card-back {
  transform: rotateY(180deg);
}
