.card-container {
  padding-top: 10px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center; /* จัดกลางแนวนอน */
  align-items: center; /* จัดกลางแนวตั้ง */

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card {
  width: 120px;
  height: 170px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.25);
}

.card-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-front,
.card-back {
  text-align: center;
}
