.topicbar {
  display: flex;
  align-items: center; /* จัดให้อยู่กึ่งกลางแนวตั้ง */
  justify-content: center; /* ให้อยู่กลางจอ */
  gap: 12px; /* ระยะห่างระหว่าง icon กับ h1 */
  margin-top: 16px;
}

.topicbar-icon {
  width: 10px; /* ปรับขนาด icon */
  height: 10px;
  object-fit: contain;
}

.topicbar h1 {
  margin: 0; /* ลบ margin เดิมของ h1 */
  font-size: 2.2rem;
}

.topicbar img {
  width: 48px;
  height: 48px;
}

.dev-name {
  font-size: 12px;
  color: #000000a4;
  margin-top: 4px;
  text-align: center;
}
