#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Showbox {
  display: flex; /* เรียงในแนวนอน */
  gap: 20px; /* ระยะห่างระหว่างกล่อง */
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .Showbox {
    flex-direction: column;
    align-items: center;
  }
}
